[submodule "bspwm/.config/bspwm"]
	path = bspwm/.config/bspwm
	url = git@github.com:Yeeloman/bspwm.git
[submodule "sddm/themes/yeelo-sddm"]
	path = sddm/themes/yeelo-sddm
	url = git@github.com:Yeeloman/yeelo-sddm.git
